
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



* {
    box-sizing: border-box;
    margin: 0%;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
}

nav{

    width: 100%;
    height: 15vh;
    background-color: white;
    box-shadow: 3px 3px 3px black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

}

nav > a{
    
    font-size: 20px;
    padding: 1%;
    transition: all 0.5 ease;
    border-radius: 15px;

}

nav > a:hover{

    color: orange;
    text-decoration: underline;

}

a{

    text-decoration: none;
    color: black;

}

.space_navbar{

    height: 15vh;
    width: 100%;

}

.icon_image{

    width: 90%;

}







header{

    width: 100%;
    display: flex;

}

header > article{

    width: 50%;
    height: 85vh;
    border-bottom: 2px solid black;

}

.header_background{

    background:
    linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
    box-shadow: 1px 1px solid black;
    text-align: center;
    align-content: center;

}

.header_text{

    text-align: center;
    align-content: center;

}

h1{
    font-size: 60px;
    color: black;  
    border-bottom: 5px solid orange;
    width: 10%;
    margin-left: 25%;
    color: black;
}

/* strong{

    background: 
    
    linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
    
    background-clip: text;
    -webkit-text-fill-color: transparent;
    

    

} */

.header_pharagraph{

    width: 60%;
    margin-left: 20%;
    text-align: justify;

}

p{

    font-size: 20px;

}







.index{

    font-size: 20px;
    text-decoration: underline;
}

.index_space{

    margin-left: 2%;

}

.button_index{

    width: 100%;
    text-align: center;

}

.button_index > a{

    border: 1px solid black;
    padding: 1%;
    border-radius: 7px;

}

.button_index > a:hover{

    background-color: black;
    color: aliceblue;

}

main{

    display: flex;
    height: 800vh;

}

.space{

    width: 20%;

}

h2{
    
    font-size: 50px;
}

.main_content{

    width: 60%;
    margin-top: 5%;

}

.line{

    width: 10%;
    border-bottom: 5px solid orange;
    margin-top: 1%;
    margin-bottom: 5%;

}

.content_image{

    width: 100%;
    text-align: center;

}

.main_image{

    border: 2px solid orange;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 15px;
    width: 50%;

}

h3{

    font-size: 25px;

}




/* tabla */


table{

    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    border: 3px solid black;
    box-shadow: 3px 3px black;

}

th, td{

    font-size: 25px;
    border: 1px solid black;

}



th{

    background-color: rgba(0, 225, 255, 0.4);

}

.row_pinted{

    background-color: rgba(0, 225, 255, 0.1);

}