<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla Comparativa</title>
    <link rel="stylesheet" href="../stylesheet/stylesheet.css">
</head>
<body>
    
    <nav>

        <img src="" alt="">

        <a href="../index.html">Preguntas teóricas</a>

        <a href="./comp_table.html">Tablas Comparativas</a>

        <a href="./inst_moduls.html">Instalación y sus módulos</a>

    </nav>

    <section class="space_navbar"></section>

    <table>

        <tr>

            <th>Características</th>
            <th>SAP S/4HANA</th>
            <th>Microsoft Dynamics 365 BC</th>
            <th>Odoo</th>

        </tr>

        <tr class="row_pinted">

            <td><p><strong>Funcionalidades y características</strong></p></td>
            <td><p>Finanzas, RRHH, SCM, CRM, producción, analítica</p></td>
            <td><p>Finanzas, ventas, compras, inventario, proyectos</p></td>
            <td><p>CRM, ventas, contabilidad, e-commerce, MRP</p></td>            

        </tr>

        <tr>

            <td><p><strong>Requisitos</strong></p></td>
            <td><p>Windows Server 16, Windows 10, CPU dual core a 2 GHz, 8GB de memoria RAM, 1GB de espacio libre, Microsoft .NET framework 4.7</p></td>
            <td><p>Windows Server, Windows 10, CPU dual core 1.9 GHz o superior, mínimo 8 GB de RAM.</p></td>
            <td><p>Servidor Linux o Windows, CPU dual core, 4GB RAM (mínimo recomendado), espacio flexible según módulos instalados.</p></td>            

        </tr>

        <tr class="row_pinted">

            <td><p><strong>Orientación al mercado</strong></p></td>
            <td><p>Grandes empresas y multinacionales.</p></td>
            <td><p>Pequeñas y medianas empresas.</p></td>
            <td><p>Empresas medianas y grandes.</p></td>            

        </tr>

        <tr>

            <td><p><strong>Tipos de licencias y precios</strong></p></td>
            <td><p>Licencia perpetua o suscripción SaaS. Más de 93.000€.</p></td>
            <td><p>Licencia perpetua o suscripción SaaS. 65-93€ mensuales.</p></td>
            <td><p>Versión Community: Gratuita. Versión de pago: 23-25€ mensuales.</p></td>            

        </tr>

    </table>


</body>
</html>