<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERP</title>
    <link rel="stylesheet" href="../stylesheet/stylesheet.css">
</head>
<body>
    
    <nav>

        <img src="" alt="">

        <a href="">Preguntas teóricas</a>

        <a href="">Tablas Comparativas</a>

    </nav>

    <section class="space_navbar"></section>

    <header>


        <article class="header_background">
            <img src="" alt="No se ha podido cargar la imagen">
        </article>

        <article class="header_text">
            <h1>Introducción</h1>
            <br><br>
            <p class="header_pharagraph">En esta página os presentaremos <strong>¿Qué es un ARP?</strong>, <strong>¿Para que sirve?</strong>, <strong>¿Qué funciones realizan?</strong>, <strong>¿Qué tipos de módulos hay?</strong>... Y demás.</p>

            <br><br>

            <p class="header_pharagraph">También te enseñaremos una tabla comparativa, indicada en la barra de navegación, para que puedas investigar sobre diferentes softwares.</p>

        </article>


    </header>


    <main>

        <section class="space"></section>

        <section class="main_content">

            <h2>¿Qué és un ERP?</h2>
            <section class="line"></section>
            <p>Un ERP (Enterprise Resource Planning = Planificación de Recursos Empresariales) es un software especialmente diseñado para facilitar y ayudar a centralizar prácticamente todo lo que viene siendo la gestión de la empresa, ya sea agilizando las respectivas tareas o controlando diferentes áreas. </p>

            <article class="content_image">
                <img class="main_image" src="../img/ERP.png" alt="No se ha podido cargar la imagen">
            </article>


        </section>
    </main>


</body>
</html>