<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERP</title>
    <link rel="stylesheet" href="../stylesheet/stylesheet.css">
</head>
<body>
    
    <nav>

        <a href="../index.html">Preguntas teóricas</a>

        <a href="./comp_table.html">Tablas Comparativas</a>

        <a href="./inst_moduls.html">Instalación y sus módulos</a>

    </nav>

    <section class="space_navbar"></section>

    <header>


        <article class="header_background">
            <img class="icon_image" src="../img/icon.png" alt="No se ha podido cargar la imagen">
        </article>

        <article class="header_text">
            <h1>Introducción</h1>
            <br><br>
            <p class="header_pharagraph">Ahora implementaremos un <strong>ERP</strong> en nuestro sistema operativo mediante <strong>Odoo</strong>. Instalaremos la versión 16 y aplicaremos los ajustes correspondientes.</p>

            <br><br>

        </article>


    </header>


    <main>

        <section class="space"></section>

        <section class="main_content">

            <h2>Instalación</h2>
            <section class="line"></section>
            <p>Iremos a la página <a href="https://www.odoo.com/es_ES/page/download"><strong>www.odoo.com</strong> para instalar el software, aplicaremos nuestros datos e instalaremos la versión 16.</a></p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/instalation_information.png" alt="No se ha podido cargar la imagen">
            </article>

            <article class="content_image">
                <img class="main_image" src="../img/instalation_button.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>Aceptaremos las condiciones y clicamos en siguiente, lo dejamos tal cual viene por defecto.</p>

            <br><br>
            
            <article class="content_image">
                <img class="main_image" src="../img/instalation_components.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>Seguidamente, dejamos los valores por defecto y clicamos en continuar.</p>

            <br><br>
            
            <article class="content_image">
                <img class="main_image" src="../img/instalation_configure.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>Después, le asignamos una carpeta dónde se encontrará el odoo.</p>

            <br><br>
            
            <article class="content_image">
                <img class="main_image" src="../img/instalation_folder.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <h2>Creación de BBDD</h2>
            <section class="line"></section>
            <p>Nos rederigirá a una web para registrarte y pondrás tu constraseña maestra, el nombre de la base de datos, el correo, la contraseña, el número de teléfono, el idioma y el país. Hay un apartado que pone <strong>"Demo Data"</strong>, hay que activarlo para que nos de una estructura básica.</p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/register.png" alt="No se ha podido cargar la imagen">
            </article>

            <article class="content_image">
                <img class="main_image" src="../img/register2.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <h2>Iniciar sesión</h2>
            <section class="line"></section>
            <p>Una vez nos hemos registrado, nos pedirá que iniciemos sesión.</p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/session.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <h2>Módulos de nuestro ERP</h2>
            <section class="line"></section>
            <p>Hemos escogido una serie de módulos para que nuestro ERP sea bastante funcional. Nuestra empresa es dedicada al envío de papel a las empresas. Somos una fábrica.</p>

            <br><br>

            <h2>eCommerce</h2>
            <section class="line"></section>

            <article class="content_image">
                <img class="main_image" src="../img/eCommerce.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>Este módulo consiste en realizar una página dispuesta a las ventas y a la economía. Podemos vender nuestros productos (diferentes tipos de papel).</p><br>

            <p>Podemos editar nuestros propios productos y publicarlos. También, contiene un carrito dónde almacena todos los productos añadidos a la cesta, lo cual es bastante bueno para que hagan compras "<strong>masivas</strong>".</p><br>

            <p>Contiene un sistema de recaudación y de administración de las ventas.</p><br>

            <br>

            <article class="content_image">
                <img class="main_image" src="../img/eCommerce_editar_producto.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>Si clicamos en el botón de publish, podemos publicar el producto y se verá en nuestra web.</p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/eCommerce_publish_product.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <h2>Livechat</h2>
            <section class="line"></section>

            <article class="content_image">
                <img class="main_image" src="../img/livechat.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>Este consiste en una ayuda que te muestra la web, cada vez que tengas problemas o alguna duda, puedes comentarle al bot o a un empleado el problema.</p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/livechat_menu.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>Le podemos asignar una serie de opciones que pregunta el usuario, mediante estas preguntas, el bot, puede ayudarte.</p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/livechat_options.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>Después, en la web, podemos contactar con él, dependiendo de lo que respondas contestará una opción u otra.</p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/livechat_bot.png" alt="No se ha podido cargar la imagen">
            </article>

        </section>
    </main>


</body>
</html>