<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERP</title>
    <link rel="stylesheet" href="../stylesheet/stylesheet.css">
</head>
<body>
    
    <nav>

        <a href="../index.html">Preguntas teóricas</a>

        <a href="./comp_table.html">Tablas Comparativas</a>

        <a href="./inst_moduls.html">Instalación y sus módulos</a>

    </nav>

    <section class="space_navbar"></section>

    <header>


        <article class="header_background">
            <img class="icon_image" src="../img/icon.png" alt="No se ha podido cargar la imagen">
        </article>

        <article class="header_text">
            <h1>Introducción</h1>
            <br><br>
            <p class="header_pharagraph">Ahora implementaremos un <strong>ERP</strong> en nuestro sistema operativo mediante <strong>Odoo</strong>. Instalaremos la versión 16 y aplicaremos los ajustes correspondientes.</p>

            <br><br>

        </article>


    </header>


    <main>

        <section class="space"></section>

        <section class="main_content">

            <h2 id="index">Índice:</h2>

            <section class="index">

                <br>

                <a href="#instalacion">Instalación</a><br><br>
                <a href="#creacion">Creación de BBDD</a><br><br>
                <a href="#login">Iniciar Sesión</a><br><br>
                <a href="#modulos">Módulos de ERP</a><br><br>

                <section class="index_space">

                    <a href="#ecommerce">eCommerce</a><br><br>
                    <a href="#livechat">Livechat</a><br><br>
                    <a href="#reclutamiento">Reclutamiento</a><br><br>
                    <a href="#backup">Backup BBDD</a><br><br>

                </section>

            </section>

            <h2 id="instalacion">Instalación</h2>
            <section class="line"></section>
            <p>Iremos a la página <a href="https://www.odoo.com/es_ES/page/download"><strong>www.odoo.com</strong> para instalar el software, aplicaremos nuestros datos e instalaremos la versión 16.</a></p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/instalation_information.png" alt="No se ha podido cargar la imagen">
            </article>

            <article class="content_image">
                <img class="main_image" src="../img/instalation_button.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>Aceptaremos las condiciones y clicamos en siguiente, lo dejamos tal cual viene por defecto.</p>

            <br><br>
            
            <article class="content_image">
                <img class="main_image" src="../img/instalation_components.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>Seguidamente, dejamos los valores por defecto y clicamos en continuar.</p>

            <br><br>
            
            <article class="content_image">
                <img class="main_image" src="../img/instalation_configure.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>Después, le asignamos una carpeta dónde se encontrará el odoo.</p>

            <br><br>
            
            <article class="content_image">
                <img class="main_image" src="../img/instalation_folder.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <section class="button_index">
                <a href="#index">Volver al Índice</a>
            </section>

            <br><br>

            <h2 id="creacion">Creación de BBDD</h2>
            <section class="line"></section>
            <p>Nos rederigirá a una web para registrarte y pondrás tu constraseña maestra, el nombre de la base de datos, el correo, la contraseña, el número de teléfono, el idioma y el país. Hay un apartado que pone <strong>"Demo Data"</strong>, hay que activarlo para que nos de una estructura básica.</p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/register.png" alt="No se ha podido cargar la imagen">
            </article>

            <article class="content_image">
                <img class="main_image" src="../img/register2.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <section class="button_index">
                <a href="#index">Volver al Índice</a>
            </section>

            <br><br>

            <h2 id="login">Iniciar sesión</h2>
            <section class="line"></section>
            <p>Una vez nos hemos registrado, nos pedirá que iniciemos sesión.</p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/session.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <section class="button_index">
                <a href="#index">Volver al Índice</a>
            </section>

            <br><br>

            <h2 id="modulos">Módulos de nuestro ERP</h2>
            <section class="line"></section>
            <p>Hemos escogido una serie de módulos para que nuestro ERP sea bastante funcional. Nuestra empresa es dedicada al envío de papel a las empresas. Somos una fábrica.</p>

            <br><br>

            <section class="button_index">
                <a href="#index">Volver al Índice</a>
            </section>

            <br><br>

            <h2 id="ecommerce">eCommerce</h2>
            <section class="line"></section>

            <article class="content_image">
                <img class="main_image" src="../img/eCommerce.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>Este módulo consiste en realizar una página dispuesta a las ventas y a la economía. Podemos vender nuestros productos (diferentes tipos de papel).</p><br>

            <p>Podemos editar nuestros propios productos y publicarlos. También, contiene un carrito dónde almacena todos los productos añadidos a la cesta, lo cual es bastante bueno para que hagan compras "<strong>masivas</strong>".</p><br>

            <p>Contiene un sistema de recaudación y de administración de las ventas.</p><br>

            <br>

            <article class="content_image">
                <img class="main_image" src="../img/eCommerce_editar_producto.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>Si clicamos en el botón de publish, podemos publicar el producto y se verá en nuestra web.</p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/eCommerce_publish_product.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <section class="button_index">
                <a href="#index">Volver al Índice</a>
            </section>

            <br><br>

            <h2 id="livechat">Livechat</h2>
            <section class="line"></section>

            <article class="content_image">
                <img class="main_image" src="../img/livechat.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>Este consiste en una ayuda que te muestra la web, cada vez que tengas problemas o alguna duda, puedes comentarle al bot o a un empleado el problema.</p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/livechat_menu.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>Le podemos asignar una serie de opciones que pregunta el usuario, mediante estas preguntas, el bot, puede ayudarte.</p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/livechat_options.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>Después, en la web, podemos contactar con él, dependiendo de lo que respondas contestará una opción u otra.</p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/livechat_bot.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <section class="button_index">
                <a href="#index">Volver al Índice</a>
            </section>

            <br><br>

            <h2 id="reclutamiento">Reclutamiento</h2>
            <section class="line"></section>

            <article class="content_image">
                <img class="main_image" src="../img/reclutamiento.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>Sirve para el reclutamiento de empleados a la empresa, reune solicitudes y departamentos diferentes, para mirar solo los que te interesan.</p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/reclutamiento_temas.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>También, puedes organizar entrevistas de cada departamento que te interese.</p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/reclutamiento_entrevista.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>Después, si clicamos en un usuario, podemos ver las características de cada empleado a contratar.</p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/reclutamiento_detalles.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>Finalmente, podemos conversar con el que queremos reclutar.</p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/reclutamiento_conversacion.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <section class="button_index">
                <a href="#index">Volver al Índice</a>
            </section>

            <br><br>

            <h2 id="backup">Backup de la BBDD</h2>
            <section class="line"></section>

            <p>Tenemos que acceder a la página de administración de nuestra base de datos, tenemos que redirigirnos a la siguiente url: <strong>http://localhost:8069/web/database/manager</strong>.</p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/backup.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>Indicamos los parámetros como la contraseña y el formato del backup, el nombre de la base de datos fue indicada por defecto anteriormente.</p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/backup_detalles.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>Y acto seguido se nos descargará el zip, en el que nuestro compañero implementará más tarde. Finalmente, podremos restaurar una BBDD clicando a un botón que pone "Restore Database".</p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/backup_archivo.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <section class="button_index">
                <a href="#index">Volver al Índice</a>
            </section>

            <br><br>

            <h2 id="restore">Restauración</h2>
            <section class="line"></section>

            <p>Al clicar en Restore Database, añadimos la contraseña de la base de datos, el archivo .zip y que queremos copiar la actual.</p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/restore.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <p>Ya podremos ver la base de datos restaurada.</p>

            <br><br>

            <article class="content_image">
                <img class="main_image" src="../img/restore_menu.png" alt="No se ha podido cargar la imagen">
            </article>

            <br><br>

            <section class="button_index">
                <a href="#index">Volver al Índice</a>
            </section>

            <br><br>


        </section>
    </main>


</body>
</html>